# MongoDB Atlas Connection String
# Substitua YOUR_MONGO_URI pela sua string de conexão do MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/merkatu?retryWrites=true&w=majority

# Porta do servidor
PORT=3001

# Ambiente
NODE_ENV=development
